# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Database
parking.db

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log